<ion-content padding>

  <form [formGroup]="loginForm" novalidate>
    <ion-item no-padding class="area">
      <ion-label class="label" floating>Email Address</ion-label>
      <ion-input class="input" type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item no-padding margin-bottom class="area">
      <ion-label class="label" floating>Password</ion-label>
      <ion-input class="input" type="password" formControlName="password"></ion-input>
    </ion-item>

    <div class="log-button" margin-bottom>
      <button item-right ion-button [disabled]="!loginForm.valid" (click)="login()">Login</button>
      <button item-right ion-button [disabled]="!loginForm.valid" color="light" (click)="register()">Register</button>
    </div>

    <div *ngIf="error">
      {{ error }}
    </div>

  </form>

</ion-content>
