page-login {

	form{
		width: 80%;
		position: absolute;
		bottom: 20%;
		left: 10%;
	}

	.item-md.item-input.ng-invalid.ng-touched .item-inner, .item-ios.item-input.ng-invalid.ng-touched .item-inner{
			border-bottom: 1px solid #5600ff;
			box-shadow: none;
	}

	.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
		border-bottom: 1px solid #fff;
		box-shadow: none;
	}

	.item-md.item-input.ng-touched.input-has-focus .item-inner, .item-ios.item-input.ng-touched.input-has-focus .item-inner{
		border-bottom: 1px solid #5600ff;
		box-shadow: none;
	}

	a[disabled], button[disabled], [ion-button][disabled]{
		opacity: 1;
	}

	.label {
	  color: #fff !important;
	  font-size: 16px;
	  text-align: left;
	  opacity: 1;
	  font-weight: 400;
	  text-transform: uppercase;
	  font-family: 'Open Sans Condensed', sans-serif;
	  font-weight: 700;
	  letter-spacing: 0.2vw;
	}

	.input{
		background: transparent;
		color: #807c7c;
		font-size: 14px;
		padding: 0 10px;
	}

	.log-button button{
		width: 45%;
	}

	.log-button button:first-child{
		margin-right: 5%;
		background: #5600ff;
	}

	.area{
		background: transparent;
		border: none;
	}



}
