<ion-header>
  <ion-navbar>
    <ion-title>
      {{ collection.name }} <span *ngIf="selected.length > 0">({{ selected.length  }})</span>
    </ion-title>

    <ion-buttons end>
      <button margin-right *ngIf="selected.length" ion-button icon-only (click)="deleteSelectedDraws()"><ion-icon name="md-trash"></ion-icon></button>
      <button margin-right ion-button icon-only (click)="showReorderMenu($event)"><ion-icon name="md-funnel"></ion-icon></button>
     <!--<button margin-right ion-button icon-only (click)="showNewDraw()"><ion-icon name="md-add"></ion-icon></button>-->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-4 col-md-4 col-xl-3 *ngFor="let draw of collection.draws | sort:order">
          <div class="draw-name">{{ draw.name }}</div>
          <div class="draw" [ngClass]="{'selected': selected.indexOf(draw) >= 0}" (click)="goToDraw(draw)" (press)="selectDraw(draw)"><img src="assets/imgs/icon-collection.png"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <button style="margin-left: 5%;" class="rename" ion-button (click)="rename(collection)">Rename</button>
  <button class="delete" ion-button (click)="delete(collection)">Delete</button>

</ion-content>
