page-collection-details {
  .draw {
    min-height: 100px;
    background-size: cover;
    border: 1px solid transparent;
    background-color:transparent;
  }

  .draw.selected {
    border-color: #007aff;
  }

  .draw-name {
    margin-top: 2vw;
    margin-bottom: 1vw;
    overflow: hidden;
    text-align: center;
    color: #352728;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;

  }

  .draw img{
    width: 90%;
    margin-left: 5%;
    border: 2px solid rgba(53, 39, 40, 0.4);
    border-radius: 10px;
    padding: 5%;
  }

   .button-md{
    background: #352728 !important;
    width: calc(86% /2);
    margin: 1vw;
    margin-top: 8vw;
    margin-bottom: 8vw;
  }

  .button-mb:first-child{
    margin-right: 5%;
  }
}
