page-draw-details {
  .led-selected > div {
    background-color: #ff6666 !important;
  }

  .dot{
    background-color: rgba(53, 39, 40, 0.6);
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
  }

  .dot-wrap{
    margin: 1vh;
  }

  .button-md{
    background: #352728 !important;
    width: calc(90% /3);
    margin: 1vw;
    margin-top: 8vw;
  }

  .button-mb:first-child{
    margin-right: 5%;
  }
}
