<ion-header>
  <ion-navbar>
    <ion-title>
      {{ draw.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row *ngFor="let row of [0, 1, 2, 3, 4, 5, 6, 7]">
      <ion-col class="dot-wrap" col-1 *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7]" [ngClass]="{ 'led-selected' : matrix[row][col] === '1' }">
        <div class="dot"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button (click)="display()">Display</button>
  <button ion-button (click)="rename()">Rename</button>
  <button ion-button (click)="delete()">Delete</button>

</ion-content>
