<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="md-sunny"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="md-photos"></ion-tab>
  <ion-tab tabIcon="power"></ion-tab>
  <ion-buttons class="logout">
    <button ion-button (click)="signOut()"></button>
  </ion-buttons>

</ion-tabs>
