page-tabs {
  .tabs-ios .tabbar, .tabs-md .tabbar {
    background: #352728;
    border: none;
    max-height: 55px;
  }

  .tabs-md .tab-button[aria-selected=true], .tabs-ios .tab-button[aria-selected=true]{
  	height: 100%;
    border-top: 4px solid #00FFC5;
  }
  .tabs-md .tab-button[aria-selected=true] .tab-button-icon, .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
  	color: #00FFC5;
  }

  .tabs-md .tab-button[aria-selected=false] .tab-button-icon, .tabs-ios .tab-button[aria-selected=false] .tab-button-icon{
    color: rgba(76, 197, 183, 0.4);
  }

  .tabs-md .tab-button .tab-button-icon, .tabs-ios .tab-button .tab-button-icon{
    font-size: 22px;
  }

  .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    display: none;  }

  .logout{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
  }
  .logout button{
    background: transparent;
    min-height: 5.5rem;
    min-width: 18vw;
    border: none;
    box-shadow: none;
    opacity: 1;
  }

  .tab-button-icon[aria-label="power"]{
    background: #00FFC5;
    padding: 6px 8px 4px;
    color: #352728 !important;
    border-radius: 5px;
    opacity: 1;
  }

}
