<ion-header>
  <ion-navbar>
    <ion-title>
      {{ draw.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>

  <ion-item>
    <ion-label class="label" floating>Draw name</ion-label>
    <ion-input class="input" type="text" [(ngModel)]="draw.name"></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row *ngFor="let row of [0, 1, 2, 3, 4, 5, 6, 7]">
      <ion-col class="dot-wrap" col-1 *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7]" (tap)="updateMatrix(row, col)" [ngClass]="{ 'led-selected' : matrix[row][col] === '1' }">
        <div class="dot"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label class="label" floating>Collection</ion-label>
    <ion-select [(ngModel)]="collection" multiple="false">
      <ion-option *ngFor="let item of collections" [value]="item" [selected]="collection.key == item.key">{{ item.name }}</ion-option>
    </ion-select>
  </ion-item>

  <button class="save" ion-button (click)="addDrawToCollection()">Save</button>

</ion-content>
