page-collections {

  .selected {
    background:#352728 !important;
  }

  .collection-wrapper {
    background-color: rgba(29, 0, 15, 0.4);
    height: 20vw;
    width: 66%;
    margin: auto;
    margin-top: 6px;
    margin-right: 5%;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .item-divider-md, .item-divider-ios{
    border: none;
  }

  .collection-name {
    background: rgba(53, 39, 40, 0.8);
    width: 24%;
    margin: auto;
    margin-top: 6px;
    height: 20vw;
    margin-left: 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-left: 2px solid #ff6666;

  }

  .collection-name p{
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    text-transform: uppercase;
  }

  .col-draw {
    margin-right: 5vw;
  }

  .collection-draw {
    text-align: center;
    background-color: #565656;
    height: 12vw;
    width: 12vw;
    border-radius: 100%;
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .collection-draw p{
    color: #c1eeff;
    text-transform: uppercase;
  }

  .list {
    margin-top: 15px;
  }

  .collection-draw.more {
    text-align: center;
    line-height: 55px;
    vertical-align: center;
    font-size: 16px;
    color: #c1eeff;
    border: none;
  }

  .label-ios, .label-md {
    color: #352728;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: right;
    border: none;
    margin: 10px 8% 0 0;
  }

  .item-divider-ios, .item-divider-md {
    background-color: transparent;
  }

  .grid {
    border: none;
    padding-bottom: 5%;
  }

  .row .grid {
    border-top: none;
  }

  .row{
    height: 20vw;
    margin: 0.5vw 0 0.5vw 0;
  }
}




