<ion-header>
  <ion-navbar>
    <ion-title>
      Collections <span *ngIf="selected.length > 0">({{ selected.length }})</span>
    </ion-title>

    <ion-buttons end>
      <button margin-right *ngIf="selected.length > 0" ion-button icon-only (click)="deleteSelectedCollections()"><ion-icon name="md-trash"></ion-icon></button>
      <button margin-right ion-button icon-only (click)="showReorderMenu($event)"><ion-icon name="md-funnel"></ion-icon></button>
     <!-- <button margin-right ion-button icon-only (click)="addCollection()"><ion-icon name="md-add"></ion-icon></button>-->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-divider>Custom</ion-item-divider>

    <ion-grid>
      <ion-row  *ngFor="let collection of customCollections">
        <div class="collection-name"><p>{{ collection.name }}</p></div>

        <div class="collection-wrapper" [class.selected]="selected === currentSelected" [ngClass]="{'selected': selected.indexOf(collection) >= 0}" (click)="goToCollection(collection, true)" (press)="selectCollection(collection)">

          <ion-grid *ngIf="collection.draws != undefined">
            <ion-row>
            <ion-col col-2 *ngFor="let draw of collection.draws | slice: 0:3" class="col-draw">
                <div class="collection-draw"><p>{{ draw.name.charAt(0) }}</p></div>
            </ion-col>
            <ion-col col-1 *ngIf="collection.draws.length > 3" class="col-draw">
              <div class="collection-draw more">
                <div>+{{ collection.draws.length - 3 }}</div>
              </div>
            </ion-col>
          </ion-row>
          </ion-grid>
        </div>
      </ion-row>
    </ion-grid>

    <ion-item-divider no-margin sticky text-uppercase>Default</ion-item-divider>

    <ion-grid>
      <ion-row *ngFor="let collection of defaultCollections">


          <div class="collection-name"><p>{{ collection.name }}</p></div>

          <div class="collection-wrapper" (click)="goToCollection(collection, false)">
            <ion-grid *ngIf="collection.draws != undefined">
              <ion-row>

                <ion-col col-2 *ngFor="let draw of collection.draws | slice: 0:3" class="col-draw">
                  <div class="collection-draw"><p>{{ draw.name.charAt(0) }}</p></div>
                </ion-col>

                <ion-col col-1 *ngIf="collection.draws.length > 3" class="col-draw">
                  <div class="collection-draw more">
                    <div>+{{ collection.draws.length - 3 }}</div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>


      </ion-row>
    </ion-grid>

  </ion-list>
</ion-content>
