page-home {


  .container{
    height: 65vh;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
  }

  .grid{
    margin-top: 20%;
  }

  .connected{
    width: 15px;
    height: 15px;
    background: #40d9bf;
    border: 2px solid #352728;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 20px;
  }

  .label-md, .label-ios {
    margin: 13px 8px 0px 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3vw;
    text-align: center;
  }

  .list-md .item-block .item-inner, .list-ios .item-block .item-inner{
    border: none;
  }

  .item-md, .item-ios {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #424242;
    background: transparent;
    border-top: 2px solid #424242;
}

/* CIRCLE LOADER --------------------------*/
  .loader{
    width: 55vw;
    height: 55vw;
    margin: auto;
    border-radius: 50%;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: circle-loader-spin 1.5s infinite linear;
    animation: circle-loader-spin 1.5s infinite linear;
  }


  .loader2{
    width: 55vw;
    height: 55vw;
    margin: auto;
    border-radius: 50%;
    background: #424242;
  }

  .circlebg{
    position: relative;
    top: 2.5vw;
    left: 2.5vw;
    width: 50vw;
    height: 50vw;
    border-radius: 100%;
    background: #333333;
  }

  .loader-search{
    height: 56vw;
    width: 56vw;
    top: 10vh;
    z-index: 10;
    background: #333333;
    border: 8px solid #424242;
    border-radius: 100%;
    margin: auto;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.search{
  position: relative;
  width: 5px;
  height: 5px;
  top: 49%;
  top: -webkit-calc(50% - 43px);
  top: calc(50% - 2.5px);
  left: 49%;
  left: -webkit-calc(50% - 43px);
  left: calc(50% - 2.5px);
  border-radius: 50px;
  z-index: 100;
}

.search:before{
      content: "";
    position: absolute;
    top: -29.6vw;
    right: -29.6vw;
    border-top: 6px solid #c1eeff;
    border-right: 6px solid #c1eeff;
    border-radius: 0 100% 0px 0;
    width: 27.8vw;
    height: 27.8vw;
    background: #636363;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-animation: search 1.5s linear infinite;
    animation: search 1.5s linear infinite;
}

.search:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-bottom:6px solid #c1eeff;
    border-left: 6px solid #c1eeff;
    border-radius: 0 0px 0px 100%;
    width: 27.8vw;
    height: 27.8vw;
    background: #636363;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-animation: search 1.5s linear infinite;
    animation: search 1.5s linear infinite;
}

@keyframes search{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

  @keyframes circle-loader-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

/* PYRAMID ----------------------------------*/


    .pyramid-small {
      height: auto;
      width: 60px;
      margin: auto;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-animation: rotateSmall 10s ease infinite;
      animation: rotateSmall 10s ease infinite;

      .one, .two, .three, .four{
        width:60px;
        height:60px;
        position:absolute;
        top: -24vh;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 60px solid #49f9db;
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
      }

      .one {
        -webkit-transform: rotateX(30deg)  rotateY(0deg) translateY(-11px) translateZ(-11px);
        transform: rotateX(30deg)  rotateY(0deg) translateY(-11px) translateZ(-11px);
        -webkit-animation: shadowSmallOne 10s linear infinite;
      }

      .two {
        -webkit-transform: rotateX(0deg)  rotateY(90deg) rotateX(30deg) translateY(-11px) translateZ(-11px);
        transform: rotateX(0deg)  rotateY(90deg) rotateX(30deg) translateY(-11px) translateZ(-11px);
        -webkit-animation: shadowSmallTwo 10s linear infinite;
      }

      .three {
        -webkit-transform: rotateX(-30deg)  rotateY(160deg) translateY(-11px) translateZ(-11px);
        transform: rotateX(-30deg)  rotateY(180deg) translateY(-11px) translateZ(-11px);
        -webkit-animation: shadowSmallThree 10s linear infinite;
      }

      .four {
        -webkit-transform: rotateX(0deg)  rotateY(-90deg) rotateX(30deg) translateY(-11px) translateZ(-11px);
        transform: rotateX(0deg)  rotateY(-90deg) rotateX(30deg) translateY(-11px) translateZ(-11px);
        -webkit-animation: shadowSmallFour 10s linear infinite;
      }
    }
  }

  @-webkit-keyframes rotateSmall {
    0% { -webkit-transform: rotateX(-10deg) rotateY(-45deg) translateY(30px); }
    25% { -webkit-transform: rotateX(-10deg) rotateY(45deg) translateY(20px); }
    50% { -webkit-transform: rotateX(-10deg) rotateY(135deg) translateY(10px); }
    75% { -webkit-transform: rotateX(-10deg) rotateY(225deg) translateY(0); }
    100% { -webkit-transform: rotateX(-10deg) rotateY(-45deg) translateY(30px); }
  }

  @-webkit-keyframes shadowSmallOne {
     0% { -webkit-filter: brightness(1); }
    12% { -webkit-filter: brightness(1.2); }  
    25% { -webkit-filter: brightness(0.6); }
    50% { -webkit-filter: brightness(1); }
    62% { -webkit-filter: brightness(1.2); }
    75% { -webkit-filter: brightness(0.6); }
    77% { -webkit-filter: brightness(1.2); }
    80% { -webkit-filter: brightness(1); }
    84% { -webkit-filter: brightness(0.8); }
    88% { -webkit-filter: brightness(0.6); }
    90% { -webkit-filter: brightness(1.2); }
    100% { -webkit-filter: brightness(1); }
  }

  @-webkit-keyframes shadowSmallTwo {
    0% { -webkit-filter: brightness(0.8); } 
    25% { -webkit-filter: brightness(1.2); }
    37% { -webkit-filter: brightness(0.6); }
    50% { -webkit-filter: brightness(0.8); }
    75% { -webkit-filter: brightness(1.2); }
    77% { -webkit-filter: brightness(1); }
    80% { -webkit-filter: brightness(0.8); }
    84% { -webkit-filter: brightness(0.6); }
    88% { -webkit-filter: brightness(1.2); }
    90% { -webkit-filter: brightness(1); }
    100% { -webkit-filter: brightness(0.8); }
  }

  @-webkit-keyframes shadowSmallThree {
    0% { -webkit-filter: brightness(0.6); } 
    25% { -webkit-filter: brightness(1); }
    37% { -webkit-filter: brightness(1.2); }
    50% { -webkit-filter: brightness(0.6); }
    75% { -webkit-filter: brightness(1); }
    77% { -webkit-filter: brightness(0.8); }
    80% { -webkit-filter: brightness(0.6); }
    84% { -webkit-filter: brightness(1.2); }
    88% { -webkit-filter: brightness(1); }
    90% { -webkit-filter: brightness(0.8); }
    100% { -webkit-filter: brightness(0.6); }
  }

  @-webkit-keyframes shadowSmallFour {
    0% { -webkit-filter: brightness(1.2); }
    12% { -webkit-filter: brightness(0.6); }  
    25% { -webkit-filter: brightness(0.8); }
    50% { -webkit-filter: brightness(1.2); }
    62% { -webkit-filter: brightness(0.6); }
    75% { -webkit-filter: brightness(0.8); }
    77% { -webkit-filter: brightness(0.6); }
    80% { -webkit-filter: brightness(1.2); }
    84% { -webkit-filter: brightness(1); }
    88% { -webkit-filter: brightness(0.8); }
    90% { -webkit-filter: brightness(0.6); }
    100% { -webkit-filter: brightness(1.2); }
  }

