<ion-header>
  <ion-navbar>
    <ion-title>
      Nightlights
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <div class="loader-wrapper" *ngIf="nightlights.length < 1">
    
    <div class="container">
      <div class="loader-search">
        <div class="search"></div>
      </div>

      <div class="scan">
        <p *ngIf="!nightlightsService.wifi">Waiting for <br>WiFi network<br>...</p>
        <p *ngIf="nightlightsService.wifi">Waiting for <br>Nightlights<br>...</p>
      </div>
  	</div>

  </div>

  <div class="loader-wrapper" *ngIf="nightlights.length > 0">
    <div class="container">
      <div class="loader2"><div class="circleBorder"><div class="circlebg"></div></div></div>

      <div class="pyramid-small">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
      </div>

      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-4 col-md-4 col-xl-4 *ngFor="let nightlight of nightlights" (click)="goToNightlight(nightlight)">
              <div class="connected"></div>
              <button ion-item>{{ nightlight.customName }}</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

    </div>
  </div>
</ion-content>

