@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Open+Sans+Condensed:300,700');

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

div::-webkit-scrollbar { border:none; width:2vw; background: rgba(29, 0, 15, 0.1); } 
div::-webkit-scrollbar-track { border:none; width:2vw; background: rgba(29, 0, 15, 0.1); } 
div::-webkit-scrollbar-thumb { border:none; width:2vw; background: rgba(29, 0, 15, 0.6); }

.alert-buttons {
  .button-delete {
    font-weight: bold;
    color: #f53d3d;
  }

  .button-add {
    font-weight: bold;
    color: #2ec95c;
  }
}

p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

.scan p{
  line-height: 7vw;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  padding-top: 11vh;
  font-size: 18px;
  font-weight: 700;
}

.content-md, .content-ios{
  background: #333333;
}

.toolbar-background-md, .toolbar-background-ios{
    background: #352728;
    border: none;
}

.toolbar-ios ion-title{
    padding-left: 5%;
}

.toolbar-title-ios, .toolbar-title-md{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: #d1f2ff;
  text-align: left;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.5vw;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default{
  color: #fff;
  font-size: 14px;
}

.loaderbg {
    position: fixed;
    left: -50%;
    z-index: -1;
    width: 200%;
    height: 100%;
    border-radius: 100%;
    background: #333333;
    background-size: 200% 200%;
    -webkit-animation: animateGlow 10s ease infinite;
    animation: animateGlow 10s ease infinite;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(25vw);
}

#load1{
    bottom: -70%;
}

#load2{
  bottom: 70%;
}

  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }