<ion-content class="slider">

  <ion-slides pager>

    <ion-slide class="slide" *ngFor="let slide of slides">
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <img *ngIf="slide.image" class="slide-image" [src]="slide.image"/>
      <p class="slide-description" [innerHTML]="slide.description"></p>
    </ion-slide>

    <ion-slide>
      <h2 class="slide-title">Let's draw!</h2>
      <img class="slide-image" src="assets/imgs/ica-slidebox-img-4.png"/>
      <p class="slide-description">After everything is set up, you will be able to draw new schemas and display them on your nightliots!</p>
      <button ion-button large clear icon-end color="primary" (click)="finishTutorial()">
        Start
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>

</ion-content>
