page-tutorial {
  .slider {
    background-color: white;
  }

  .slide-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .slide-description {
    padding: 0 10vw;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8vh;
    color: #444444;
  }

  .slide-image {
    margin: 5vh 6vh 6vh;
    max-height: 50%;
    max-width: 60%;
  }
}
