page-nightlight {
  .led-selected > div {
    background-color: #4cc5b7 !important;
  }

  .dot{
  	background-color: rgba(255, 255, 255, 0.2);
  	height: 3vh;
  	width: 3vh;
  	border-radius: 50%;
  }

  .dot-wrap{
  	margin: 1vh;
  }

  .rename{
    background-color: #ff6666;
    margin-top: 10%;
  }

  .nightlight-draw {
    color: white;
  }
}
