<ion-header>
  <ion-navbar>
    <ion-title>
     {{ nightlight.customName }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <div class="nightlight-draw">{{ nightlight.draw.name }}</div>

  <ion-grid>
    <ion-row *ngFor="let row of [0, 1, 2, 3, 4, 5, 6, 7]">
      <ion-col class="dot-wrap" col-1 *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7]" (tap)="updateMatrix(row, col)" [ngClass]="{ 'led-selected' : matrix[row][col] === '1' }">
        <div class="dot"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button (click)="showCollections()">Change draw</button>
  <button ion-button (click)="saveDraw(nightlight)">Save draw</button>
  <button ion-button (click)="rename(nightlight)">Rename nightlight</button>
</ion-content>
